.navBar {
  background-color: rgb(14, 13, 13);
  color: white;
  display: flex;
  width: 100%;
  justify-content: end;
  padding: 10px;
}

.navBar p {
    color: rgb(251, 249, 249);
    font-weight: bold;
}